h3{
    font-size: 25px !important;
}

.btn-success:hover{
    background-color: rgba(105, 6, 6, 0.452);
}

canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border: 2px solid;
}

@keyframes example{
    from {box-shadow: 1px 1px 38px red}
    to {box-shadow: 1px 1px 38px rgb(160, 138, 14)}
}